<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (intervalFired)="onInternalFired($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-odd *ngFor="let numeroPar of numerosPares" [number]="numeroPar"></app-odd>
      <app-even *ngFor="let numeroImpar of numerosImpares" [number]="numeroImpar"></app-even>
      <p simplyDirective>Simply Directive</p>
      <p appRendererDirective>Renderer Directive</p>
    </div>
  </div>
</div>
